services:
  postgres:
    image: pgvector/pgvector:pg16
    ports:
      - '5432:5432'
    environment:
      POSTGRES_DB: local_rag
      POSTGRES_USER: rag
      POSTGRES_PASSWORD: rag
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
